#about{

  margin-top: 30px;
}
#about-para{
  text-align: center;
  font-family: "Kalam", cursive;
  font-size: 25px;
  margin-left: 50px;
  margin-right: 50px;
}


@media (max-width: 600px) {
  #about-para{
    text-align: center;
    font-family: "Kalam", cursive;
    font-size: 15px;
    margin-left: 25px;
    margin-right: 25px;
  }
}

/* For devices larger than 900px */
@media (min-width: 900px) {
  
}

/* CSS code for the button style and animation */
#download-button {
  font-size: 20px;
  padding: 10px 20px;
  color: white;
  background-color: #4CAF50;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
  box-shadow: 0 9px #999;
  border-radius: 12px;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#download-button:hover {
  background-color: #3e8e41;
}

#download-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#view-button {
  font-size: 20px;
  padding: 10px 20px;
  color: white;
  background-color: #4CAF50;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
  box-shadow: 0 9px #999;
  border-radius: 12px;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#view-button:hover {
  background-color: #3e8e41;
}

#view-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}






.contact-icon{
  height: 50px;
  width: 50px;
  align-self: center;
}
.contact-info{
  margin-top: 20px;
}
#contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin-bottom: 50px;
  margin-top: 90px; /* You can set this to whatever you want */
}
.contact-text{
  font-size: 20px;
  font-family: "Kalam", cursive;
  margin-top: 10px;
  text-align: center;
;
  margin-left: 20px;
}
.contact-text:hover{
  color: #ff0d00;
}

#cv-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

@media (max-width: 600px) {
  #cv-buttons {
      flex-direction: column;
      align-items: center;
  }
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  margin-left: 15px;
  margin-right: 35px;
}

.image-grid img {
  width: 180px;
  height: 180px;
  height: auto;
  border-radius: 35px;
  margin-top: 30px;
}

/* For devices smaller than 600px */
@media (max-width: 600px) {
  .image-grid {
      grid-template-columns: repeat(3, 1fr);
      flex: 1;
      
  }
  .image-grid img {
    width: 120px;
    height: 120px;
  }
}

/* For devices larger than 900px */
@media (min-width: 900px) {
  .image-grid {
      grid-template-columns: repeat(7, 1fr);
  }
}